

zuul:
  ribbon:
    eager-load:
      enabled: true
  retryable: true
  ignoredServices: '*'
  ignoredPatterns: /*/inner/**,/*/management/**    #被忽略的路径
  #semaphore.max-semaphores: 300
  routes:
    demo1: 
      path: /demo1/**
      service-id: demo1
      sensitive-headers:               #将指定路由的敏感头设置为空
      custom-sensitive-headers: true   #对指定路由开启自定义敏感头
        
    
   
logging:
  level:
    com.example.gateway: DEBUG
---
spring:
  profiles: production
logging:
  level:
    net.hzbox: INFO

